.vs/CommandCenter/v17/.suo
*.db
*.v2
/obj/Release
/obj/Debug
/.vs/CommandCenter/CopilotIndices
/.vs/CommandCenter/DesignTimeBuild
/.vs/CommandCenter/v17
/.vs/ProjectEvaluation
/Properties/PublishProfiles
